---
layout: default
---

<head>
    <script data-ad-client="ca-pub-4712055147463047" async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta name="yandex-verification" content="13f3c5b0ebaae6a6" />
    <meta name="msvalidate.01" content="F5988E148E22BF3109671EBBE58FAB2A" />
</head>
<p style="text-align: center;"><b>We help you find the best drum & bass music. We keep digging through the crates so you
    don't have to!</b></p>

<!-- Implements Datatables: https://datatables.net/ -->
<table id="choons" class="display">
    {% for row in site.data.choons %}
    {% if forloop.first %}
    <thead>
    <tr>
        {% for pair in row %}
        <th>{{ pair[0] }}</th>
        {% endfor %}
    </tr>

    <!-- this is a trick to make the table head end and body begin, only once, when the if-logic switches-->
    </thead>
    <tbody>
    {% else %}

    {% tablerow pair in row %}
    {{ pair[1] }}
    {% endtablerow %}
    {% endif %}
    {% endfor %}
    </tbody><!-- body closes after everything -->
</table>

<!-- Said Datatables implementation -->
{% include datatables.html %}

<!-- Ads -->
{% include advertisements.html %}

<center>
    <footer>&copy; 2020 <a href='https://www.linkedin.com/in/csluken/'>Chris Luken</a>. All Rights Reserved.
    </footer>
</center>
