<link rel="stylesheet" type="text/css" href="/vendor/DataTables/datatables.min.css">
<script type="text/javascript" charset="utf8" src="/vendor/DataTables/datatables.min.js"></script>
<script lang="JavaScript">
    $(document).ready(function () {
        $('#choons').DataTable({
            // You can set options from https://datatables.net/reference/option/
            "processing": true,
            "paging": true,
            "deferRender": false,
            stateSave: true,
            "order": [[ 0, 'desc' ]]
        });
    });
</script>
